#flex-box {
  padding-top: 5px;
  display: flex;
  height: auto;
  flex-direction: row;
}
#flex-box1 {
  display: flex;
  flex-direction: column;
}
#flex-box2 {
  display: flex;
  flex-direction: row;
}
#TitleMap {
  float: left;
  flex-grow: 50%;
  width: 17%;
}
#SideBar {
  width: 30%;
  align-content: center;
  padding-bottom: 25px;
}
#Pictures {
  float: right;
  /* margin-left: -375px; */
  align-self: flex-end;
  padding-bottom: 50px;
}
#ReviewApp {
  width: 40%;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}

body {
  /* max-width: 500px; */
  padding-left: 500px;
}
#title {
  width: 70%;
  height: 50px;
  background-color: #ff5c5c;
}
#logo {
  height: 50px;
  width: 50px;
}
#search {
  width: 300px;
}
